* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    width: 100%;
    height: 100%;
}

.number {
    position: absolute;
    font-size: 32px;
    font-weight: 600;
    /* color: #fff; */
}
/*  */

.conversion {
    height: 100px;
    width: 100%;
    margin-top: 50px;
    display: flex;
}

.frame {
    position: relative;
    margin: auto;
    width: 150px;
    height: 75px;
    border-radius: 50px;
    border: 2px solid #ccc;
}

.day,
.night {
    position: absolute;
    width: 75px;
    height: 73px;
    display: flex;
    border-radius: 50%;
    box-shadow: 3px 0px 8px 0px #ccc;
}

.night {
    transition: all 0.4s;
    right: 0;
    box-shadow: -3px 0px 8px 0px #ccc;
}


.day {
    
}

.fa-sun,
.fa-moon {
    margin: auto;
    font-size: 32px;
    color: red;
}

.fa-moon {
    color: blue;
}

.main {
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.clock {
    background: url(./imgs/light-mode.png) center center / cover;
    /* background: url(./imgs/dark-mode.png) center center / cover; */
    height: 320px;
    width: 320px;
    margin: auto;
    /* background-color: #fff; */
    box-shadow: 0px 5px 8px 5px #ccc;
    border-radius: 50%;
    display: flex;
    position: relative;
}


.n12 {
    left: 50%;
    transform: translateX(-50%);
    top: 24px;
}

.n3 {
    right: 0;
    bottom: 50%;
    transform: translate(-50%, 50%);
    right: 24px;
}

.n6 {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 24px;
}

.n9 {
    top: 50%;
    transform: translateY(-50%);
    left: 24px;
}


.dot, .hour, .minute, .second {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}


.second {
    background-color: red;
}

.dot {
    margin: auto;
    position: relative;
}


.hour, .second, .minute {
    position: absolute;
}


.hr, .min, .sec {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%,0);
    border-radius: 100px;
}


.hour .hr {
    height: 70px;
    width: 80%;
    background-color: black;
}


.minute .min {
    height: 90px;
    width: 80%;
    background-color: black;
}


.second .sec {
    height: 100px;
    width: 50%;
    background-color: red;
}
